:root {
    --main-font-color: #eee;
    --main-bg-color: #000;
    --secondary-bg-color: #111;
    --main-accent-color: #926;
    --secondary-accent-color: #413;
    --tertiary-accent-color: #c59;
    --quaternary-accent-color: #f9d;
    --new-link-color: #f00;
}

.light-theme {
    --main-font-color: #222;
    --main-bg-color: #f72;
    --secondary-bg-color: #fbf;
    --main-accent-color: #f37;
    --secondary-accent-color: #fa7;
    --tertiary-accent-color: #f82;
    --quaternary-accent-color: #f40;
    --new-link-color: #00f;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--main-bg-color);
    height: 100%;
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    font-size: 11pt;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color: var(--main-font-color);
}

div {
    box-sizing: border-box;
    user-select: none;
}

a {
    color: var(--new-link-color); /* The default blue does NOT work well with the other colours */
}

#logo-header-bar {
    display: flex;
    width: 100%;
    height: 16vh;
    min-height: 60px;
    background-color: var(--main-bg-color);
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo-header-bar img {
    display: block;
    max-height: 80%;
    min-height: 60px;
    min-width: 107px;
    width: auto;
    margin: 0 auto;
    animation: brightnessPulse 8s ease-in-out infinite;
}

#logo-header-bar p {
    color: var(--main-font-color);
    text-align: center;
    margin: 0 auto;
}

.header-bar {
    width: 100%;
    margin: 0px;
    margin-bottom: 8px;
    padding: 3px 0px;
    background-color: var(--secondary-bg-color);
    border-bottom: 1px solid var(--main-accent-color);
}

.header-bar ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-bar li {
    margin: 0 20px;
}

.header-bar a {
    text-decoration: none;
    color: var(--main-font-color);
    font-weight: bold;
}

.header-bar li::first-letter {
    color: var(--tertiary-accent-color);
    text-decoration: underline;
    text-transform: capitalize;
}

.header-bar#mainpage-header-bar ul {
    justify-content: center;
}

#mainpage-header-bar a {
    font-size: 1rem;
}

#header-bar a {
    font-size: 1.35rem;
}

#content {
    text-align: center;
    display: table;
    margin: 0 auto;
    width: 100%;
    flex: 1;
    align-items: center;
}

.rightbar {
    width: 34%;
    display: table-cell;
    padding: 10px 1%;
}

.leftbar {
    width: 66%;
    display: table-cell;
    padding: 10px 1%;
}

.middlebar {
    width: 80%;
    display: table-cell;
    padding: 10px 10%;
}

.column#site-info-column {
    width: 20%;
    min-width: 170px;
}

.column#site-news-column {
    width: 80%;
}

.column#gallery-images-column {
    width: 80%;
}

.mainitem-block {
    display: block;
    background: var(--main-bg-color);
    border: 0px;
    margin: 0px auto 20px;
    width: 98%;
    padding: 1px;
    display: table;
    text-align: left;
}

.mainitem-block * {
    margin: 1px;
}

.mainitem-block#site-info {
    width: 98%;
    text-align: left;
}

.gallery-image {
    display: flex;
    height: auto;
    font-family: monospace;
    white-space: pre;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-align: center;
    justify-content: center;
}

.mainitem-block h1,
.mainitem-block h2,
.mainitem-block h3,
.mainitem-block h4,
.mainitem-block h5,
.mainitem-block h6 {
    background: var(--main-accent-color);
    color: var(--main-font-color);
    padding: 3px;
    border: 0px;
    margin: 1px;
    text-align: left;
    font-size: 1.4rem;
}

.mainitem-block h2 {
    font-size: 1rem;
}

.mainitem-block p {
    background: var(--secondary-accent-color);
    color: var(--main-font-color);
    padding: 3px;
    border: 0px;
    margin: 1px;
    text-align: left;
    font-size: 100%;
}

.mainitem-block > *:not(:first-child):nth-child(2n) {
    background-color: var(--secondary-accent-color);
    color: var(--main-font-color);
}

.mainitem-block > *:not(:first-child):nth-child(2n+1) {
    background-color: var(--tertiary-accent-color);
    color: var(--main-font-color);
}

.mainitem-block#gallery-images > *:nth-child(2n) {
    background-color: var(--secondary-accent-color);
    color: var(--main-font-color);
}

.mainitem-block#gallery-images > *:nth-child(2n+1) {
    background-color: var(--tertiary-accent-color);
    color: var(--main-font-color);
}

.header-bar a:hover,
#mainitem-header-bar a:hover {
    color: var(--quaternary-accent-color);
    text-decoration: underline;
}

.page-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    min-height: 100px;
    background-color: var(--secondary-accent-color);
    position: relative;
    padding: 1% 1%;
    box-sizing: border-box;
}

.footer-column-left,
.footer-column-middle {
    display: flex;
    align-items: center;
}

.footer-column-left {
    flex: 0 0 auto;
}

.footer-column-middle {
    flex: 1;
}

.footer-column-right {
    flex: 0 0 auto;
    position: absolute;
    right: 1%;
    bottom: 4%
}

#footer-logo {
    height: 7vh;
    width: auto;
    min-height: 88px;
}

#light-dark-toggle {
    width: auto;
    height: 3vh;
    cursor: pointer;
    min-height: 22;
    border-radius: 100%; /* full circle, 100% works fine */
    background-color: var(--tertiary-accent-color);
    padding: 2px 2px;
    min-height: 38px;
}

@keyframes brightnessPulse {
    0%   { filter: brightness(100%); }
    50%  { filter: brightness(130%); }
    100% { filter: brightness(100%); }
}